@import "tailwindcss";

@theme {
  /*  CUSTOM BREAKPOINTS  */
  --breakpoint-xs: 400px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-ml: 1024px;
  --breakpoint-lg: 1180px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  --color-primary-50: #f0f9ff;
  --color-primary-100: #e0f2fe;
  --color-primary-200: #bae6fd;
  --color-primary-300: #7dd3fc;
  --color-primary-400: #38bdf8;
  --color-primary-500: #0ea5e9;
  --color-primary-600: #0284c7;
  --color-primary-700: #0369a1;
  --color-primary-800: #075985;
  --color-primary-900: #0c4a6e;
  --color-primary-950: #082f49;

  --color-secondary-50: #f8fafc;
  --color-secondary-900: #0f172a;

  --font-sans: Inter, system-ui, sans-serif;
  --radius-3xl: 1.5rem;
}

/* Global styles */
body {
  font-family: var(--font-sans);
  scroll-behavior: smooth;
}
